# Blacklist - exclude everything except npm defaults such as LICENSE, etc
*

# Whitelist - css/
!css/**/*.css

# Whitelist - lib/
!lib/**/*.d.ts
!lib/**/*.js
!lib/**/*.js.map
!lib/**/*.mjs
!lib/**/*.mjs.map
!lib/**/*.css

# Whitelist - typings/
!typings/*.d.ts

# Blacklist - exclude headless typings
typings/xterm-headless.d.ts
